<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to new_user_path, new_user_path %></li>
      <li><%= link_to users_path, users_path %></li>
    </ul>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
